.header__promo {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  width: 100%;
  height: 769px;
  background-image: url(../img/header__img-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--basic-white);  
  border-left:  1px solid #E6E6E6;
  border-right:  1px solid #E6E6E6; 
}

.header__logo {
  display: block;
  max-width: 101.62px;
  max-height: 23px;
  margin: 41px auto 0 auto;  
}

.header__title {
  display: block;
  font-family: BebasNeueBold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 5.70937px;
  text-transform: uppercase;
  margin-top: 331px;
}

.header__text, .header__scroll {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.header__text {
  font-size: 16px;
  line-height: 22px;
  margin-top: -30px;
}

.header__scroll {
  font-size: 11px;
  line-height: 15px;
  margin-top: 221px;
  margin-bottom: 71px;
}